li.dev-item {
  background: #fff;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
  border-radius: 2px;
  padding: 20px;
}
li.dev-item:hover {
  background: #faf9f9;
  transition: background 0.5s;
}
li.dev-item header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
li.dev-item header img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}
li.dev-item header .user-info {
  margin-left: 10px;
}
.user-info strong {
  display: block;
  font-size: 16px;
  color: #333;
}

.user-info span {
  font-size: 13px;
  color: #999;
  margin-top: 2px;
}
li.dev-item p {
  color: #666;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0;
}
li.dev-item a {
  color: #8e4dff;
  font-size: 14px;
  text-decoration: none;
}
li.dev-item a:hover {
  color: #5a2ea6;
}

li.dev-item .user-options {
  display: block;
  float: right;
  position: relative;
}
li.dev-item .user-options button + button {
  margin-left: 8px;
}
li.dev-item .user-options button {
  border: 0px;
  border-radius: 2px;
  background: #7d40e7;
  padding: 6px 12px;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: background 0.5s;
}
li.dev-item .user-options button:hover {
  background: #6931ca;
}

li.dev-item form .input-edit label {
  color: #acacac;
  font-weight: bold;
  font-size: 14px;
  display: block;
}

li.dev-item form .input-edit input {
  width: 100%;
  height: 32px;
  font-size: 14px;
  color: #666;
  border: 0;
  border-bottom: 1px solid #eee;
}

li.dev-item form .input-edit {
  margin-top: 20px;
}

li.dev-item form .input-edit button[type="submit"] {
  width: 100%;
  border: 0px;
  border-radius: 2px;
  margin-top: 30px;
  background: #7d40e7;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: background 0.5s;
}
aside form button[type="submit"]:hover {
  background: #6931ca;
}
